/* This changes three of the default styles and many webdesigners include this in the top of every style they create. */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  background-color: lightgray;
}
body {
  background-color: white;
  max-width: 1000px;
  margin: auto;
  padding: 24px;
}
img {
  max-width: 100px;
}
