* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  margin: 1em;
}

.funky {
  color: pink;
}

.notfunky {
  background-color: blue;
}

.hero {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.herodiv {
  background-image: url("852px-Tabby_cat_with_blue_eyes-3336579.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
  font-weight: 900;
}
.mygallery {
  display: flex;
  padding: 6px;
  flex-wrap: wrap;
}

.gallery {
  width: 200px;
  flex-basis: 200px;
  flex-grow: 1;
  margin: 6px;
}

.flex-container {
  display: flex;
  justify-content: flex-end;
}
.mysquare {
  background-color: lightblue;
  margin: 12px;
  width: 100px;
  height: 100px;
}
.mysquare2 {
  flex: 1;
}
.flex-container2 {
  display: flex;
  justify-content: space-between;
}
