body {
    margin: auto;
    background-color: antiquewhite;
    max-width: 1600px;
}
img {
    width: 100%;
}
article, header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px dotted gray;
    padding: 24px;
}
.block {
    margin: 24px;
    max-width: 400px;
}
