/* This changes three of the default styles and many webdesigners include this in the top of every style they create. */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: serif;
  font-family: sans-serif;
  /* font-family: monospace; */
}

main {
  margin: auto;
  max-width: 800px;
}
