/* This changes three of the default styles and many webdesigners include this in the top of every style they create. */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 24px;
}
.boxholder {
  display: flex;
  flex-direction: column;
align-items: center;
justify-content: space-between;
}
.box {
  display: flex;
  background-color: darkgray;
  flex-direction: column;
  min-height: 300px;
  flex: 1;
  border: solid gray;
  margin: 24px;
align-items: center;
justify-content: center;
}


@media screen and (min-width: 769px) {
  .boxholder {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .box {
  }
}
