/* This changes three of the default styles and many webdesigners include this in the top of every style they create. */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: lavenderblush;
}
strong {
  color: deeppink;
  background-color: saddlebrown;
}

p {
  line-height: 12pt;
  font-size: 14pt;
  font-weight: 700;
  margin: auto;
  width: 50%;
  margin-bottom: 20px;
}

#fixed-pos {
  position: fixed;
  color: blue;
  left: 40px;
  padding: 12px;
  border-style: solid;
  background-color: red;
  border-width: 2px;
  border-color: purple;
  border-radius: 100%;
}
