/* This changes three of the default styles and many webdesigners include this in the top of every style they create. */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #000;
  --background: gainsboro;
}

body {
  color: var(--black);
  background: var(--background);
}

.box {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 2rem;
  column-count: 2;
  column-gap: 2rem;
  line-height: 1.4rem;
}

p {
  margin-bottom: 1rem;
}
.content {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
