/* This changes three of the default styles and many webdesigners include this in the top of every style they create. */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #000;
  --background: gainsboro;
}

body {
  color: var(--black);
  background: var(--background);
}

.box {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  column-count: 2;
  column-gap: 2rem;
  line-height: 1.4rem;
}

p {
  margin-bottom: 1rem;
}
.content {
}
.row {
  background: white;
}
#header {
  background: pink;
}
#footer {
  background: deeppink;
}
.hero-image {
  background-image: url("photographer.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
